/* DON'T REMOVE THIS STYLE */
.rg-tracker {
    position: relative;
}
.rg-tracker-number {
    position: relative;
    display:inline-block;
}
.rg-slider-wrapper {
    width: 100%;
}
.rg-slider-trackbar {
    background: lightgrey;
    border-radius: 15px;
}

.rg-tracker {
    width: 10px;
    height: 10px;
    background: deeppink;
    border-radius: inherit;
}

.rg-navigator {
    width: 100%;
    float: left;
}
.rg-navigator ul li {
    display: table-cell;
    text-align: left;
    width: 1%;
}
.rg-navigator ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.rg-list-lastitem {
    float: right;
}

.rg-tracker-number.outer {
    display: block;
    position: relative;
    width: 1em;
}
.rg-tracker-number .inner {
    /* shrink-to-fit width */
    display: inline-block;
    position: relative;
    /* shift left edge of text to center */
    left: 50%;
}
.rg-tracker-number .text {
    /* shift left edge of text half distance to left */
    margin-left: -50%;
    /* text should all be on one line */
    white-space: nowrap;
}


/* DON'T REMOVE THIS STYLE */
